@import url("./style_class.css");
@import url("./style_element.css");
@import url("./style_id.css");

@media (min-width: 600px){
    .container{
        width: 90%;
        background-color: lightgoldenrodyellow;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "sb main main main main main"
        "ft ft ft ft ft ft";
    }
}