#box{
    border: 2px solid black;
}

.container{
    height: 100vh;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 150px 1fr;
    grid-template-areas: 
    "hd"
    "sb"
    "main"
    "ft";
}

.header{
    grid-area: hd;
    font-size: 1.2em;
    text-align: center;
}

.footer{
    grid-area: ft;
    font-size: 0.8em;
}

.sidebar{
    grid-area: sb;
    font-size: 0.8em;
}

.main{
    grid-area: main;
}

#nestedGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 5px;
}

.photoBox{
    width: 150px;
    height: 150px;
    font-weight: bold;
}

#one{
    /* background-image: url(../image/face.jpg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    font-size: 0.8em;
    border: 2px solid red;
}
#two{
    background-image: url(../image/blog.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#three{
    background-image: url(../image/udacity.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#four{
    background-image: url(../image/google.png);
    background-size: contain;
    background-repeat: no-repeat;
}

a:hover{
    color: blue;
    text-shadow: 1.1em;
}

h1{
    font-size: 1.2em;
}

h2{
    font-size: 1.2em;
}

@media (min-width: 600px){
    .container{
        width: 90%;
        background-color: lightgoldenrodyellow;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "sb main main main main main"
        "ft ft ft ft ft ft";
    }
}